@model Book
<tr>
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@Model.Author</td>
    <td><img class="img-thumbnail img-fluid mr-2" style="width: 100px" src="@Model.Img" alt="@Model.Name" /></td>
</tr>